@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
  }
  nav .user-opt {
    display: none !important;
  }
  nav .hamburger {
    display: block !important;
  }

  .container {
    padding-top: 5rem;
  }
  .container .side-bar {
    display: none !important;
  }
  .container .main-content .account-header {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
    margin: 0.5rem 0.3rem;
    grid-gap: 1.5rem;
    font-size: 1rem;
  }
  .container .main-content .account-header .user-info {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
  }
  .container .main-content .account-header :nth-child(2) {
    grid-column: span 2;
  }
  .container .main-content .account-history {
    display: flex !important;
    flex-direction: column;
    margin: 0.5rem 0.3rem;
  }
  .container .main-content .account-history .transactions-panel {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
  }
  .container .main-content .account-history .transactions-panel table tr .narration .date {
    width: 40px;
    height: 40px;
  }
  .container .main-content .account-history .transactions-panel table tr .narration .date :first-child {
    font-size: 0.6rem;
  }
  .container .main-content .account-history .transactions-panel table tr .narration .date :last-child {
    font-size: 0.9rem;
  }
  .container .main-content .account-history .transactions-panel table tr .narration .info :first-child {
    font-size: 1rem;
  }
  .container .main-content .account-history .transactions-panel table tr .narration .info :last-child {
    font-size: 0.8rem;
    padding-right: 1rem;
  }
  .container .main-content .account-history .transactions-history {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .container .main-content .account-history .transactions-history div {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .main-content .account-history .transactions-history .total-transactions {
    grid-column: span 2;
  }
  .container .main-content .money {
    font-size: 1.3rem !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav .logo {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
nav .logo .first-half-logo {
  color: rgb(131, 42, 233);
}
nav .logo .last-half-logo {
  color: rgb(61, 56, 61);
}
nav .user-opt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
nav .user-opt img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
nav .hamburger {
  display: none;
}
nav .hamburger i {
  font-size: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 49, 134);
  padding: 4rem 0 4rem 1rem;
}
.side-bar .menu-text {
  display: flex;
  gap: 0.5rem;
  color: rgb(245, 244, 244);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 1px solid rgb(81, 70, 128);
  padding-bottom: 1rem;
}
.side-bar .menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  text-align: left;
  width: 100%;
  padding: 2rem 0.5rem;
}
.side-bar .menu-items li {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0.5rem 0;
  width: 100%;
}
.side-bar .menu-items li.title {
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: rgb(180, 179, 179);
  border-bottom: 1px solid rgb(128, 128, 128);
  padding: 1rem 0;
}
.side-bar .menu-items li i {
  width: 25px;
  color: rgb(255, 255, 255);
}
.side-bar .menu-items li a {
  padding: 1rem 0.5rem;
  color: rgb(235, 233, 233);
  text-decoration: none;
  width: 100%;
}
.side-bar .menu-items li a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(34, 49, 134);
}

.main-content {
  grid-column: span 5;
}
.main-content .account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, rgb(2, 137, 248), rgb(111, 120, 250));
  margin: 0.5rem;
  border-radius: 10px;
  padding: 1rem 2rem;
}
.main-content .account-header .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main-content .account-header .user-info img {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 2px;
}
.main-content .account-header .account-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.main-content .account-header h1 {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
}
.main-content .account-header .title {
  color: rgb(235, 235, 235);
  font-weight: 500;
}
.main-content .account-header .money {
  font-size: 1.5rem;
}
.main-content .account-history {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 0.7rem;
  margin: 1rem;
}
.main-content .account-history .transactions-panel {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}
.main-content .account-history .transactions-panel .title {
  color: rgb(37, 36, 36);
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  border-bottom: 1px solid rgb(235, 233, 233);
}
.main-content .account-history .transactions-panel .title span {
  padding: 0.1rem;
  font-size: 0.8rem;
}
.main-content .account-history .transactions-panel .title span :first-child {
  color: rgb(13, 212, 29);
}
.main-content .account-history .transactions-panel .title span :last-child {
  color: rgb(228, 18, 18);
}
.main-content .account-history .transactions-panel table {
  border-collapse: collapse;
  width: 100%;
  padding: 0.5rem;
}
.main-content .account-history .transactions-panel table :last-child {
  border: none;
}
.main-content .account-history .transactions-panel table th {
  color: rgb(109, 101, 101);
  text-align: left;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  border-bottom: 1px solid rgb(235, 233, 233);
}
.main-content .account-history .transactions-panel table td {
  padding: 1rem;
}
.main-content .account-history .transactions-panel table tr {
  border-bottom: 1px solid rgb(235, 233, 233);
}
.main-content .account-history .transactions-panel table tr .narration {
  display: flex;
  gap: 0.7rem;
}
.main-content .account-history .transactions-panel table tr .narration .date {
  background-color: rgb(131, 42, 233);
  color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.main-content .account-history .transactions-panel table tr .narration .date :first-child {
  font-size: 0.8rem;
}
.main-content .account-history .transactions-panel table tr .narration .date :last-child {
  font-size: 1rem;
}
.main-content .account-history .transactions-panel table tr .narration .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-content .account-history .transactions-panel table tr .narration .info :first-child {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 600;
}
.main-content .account-history .transactions-panel table tr .narration .info :last-child {
  color: rgb(122, 117, 117);
  font-size: 0.9rem;
}
.main-content .account-history .transactions-history {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.main-content .account-history .transactions-history .title {
  color: rgb(37, 36, 36);
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  border-bottom: 1px solid rgb(235, 233, 233);
}
.main-content .account-history .transactions-history .title span {
  padding: 0.1rem;
  font-size: 0.8rem;
}
.main-content .account-history .transactions-history .title span :first-child {
  color: rgb(13, 212, 29);
}
.main-content .account-history .transactions-history .title span :last-child {
  color: rgb(228, 18, 18);
}
.main-content .account-history .transactions-history div {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1rem;
  border-bottom: 1px solid rgb(235, 233, 233);
}
.main-content .account-history .transactions-history div :first-child {
  font-weight: 500;
  font-size: 1.1rem;
}
.main-content .account-history .transactions-history div :first-child span {
  color: red;
}
.main-content .account-history .transactions-history div :last-child {
  font-size: 1.3rem;
}
.main-content .account-history .transactions-history div #in {
  color: rgb(13, 212, 29);
}
.main-content .account-history .transactions-history div #out {
  color: rgb(228, 18, 18);
}

.head-title {
  margin: 0.7rem;
}
.head-title h1 {
  color: rgb(109, 101, 101);
  font-size: 1.2rem;
}/*# sourceMappingURL=dashboard.css.map */