@import '_media';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .logo {
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: .1rem;
        .first-half-logo {
            color: rgb(131, 42, 233);
        }
        .last-half-logo {
            color: rgb(61, 56, 61);
        }
    }
    .user-opt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .hamburger {
        display: none;
        i {
            font-size: 1.5rem;
        }
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.side-bar {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 49, 134);
    padding: 4rem 0 4rem 1rem;
    .menu-text {
        display: flex;
        gap: .5rem;
        color: rgb(245, 244, 244);
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 4px;
        border-bottom: 1px solid rgb(81, 70, 128);
        padding-bottom: 1rem;
    }
    .menu-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        text-align: left;
        width: 100%;
        padding: 2rem .5rem;
        li {
            display: flex;
            align-items: center;
            gap: 2px;
            padding: .5rem 0;
            width: 100%;
            &.title {
                font-weight: 500;
                letter-spacing: .2rem;
                color: rgb(180, 179, 179);
                border-bottom: 1px solid rgb(128, 128, 128);
                padding: 1rem 0;
            }
            i {
                width: 25px;
                color: rgb(255, 255, 255);
            }
            a {
                padding: 1rem .5rem;
                color: rgb(235, 233, 233);
                text-decoration: none;
                width: 100%;
                &:hover {
                    background-color: rgb(255, 255, 255);
                    color: rgb(34, 49, 134);
                }
            }
        }
    }
}

.main-content {
    grid-column: span 5;
    .account-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(to right,rgb(2, 137, 248), rgb(111, 120, 250), rgb(131, 42, 233));
        margin: .5rem;
        border-radius: 10px;
        padding: 1rem 2rem;
        .user-info {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            img {
                width: 100px;
                height: 100px;
                border: 2px solid rgb(255, 255, 255);
                border-radius: 50%;
                padding: 2px;
            }
        }
        .account-detail {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: .5rem;
        }
        h1 {
            color: rgb(255, 255, 255);
            font-size: 1rem;
            font-weight: 600;
        }
        .title {
            color: rgb(235, 235, 235);
            font-weight: 500;
        }
        .money {
            font-size: 1.5rem;
        }
    }
    .account-history {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: .7rem;
        margin: 1rem;
        .transactions-panel {
            background-color: rgb(255, 255, 255);
            padding: .5rem;
            grid-column: span 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 5px;
            .title {
                color: rgb(37, 36, 36);
                font-size: 1rem;
                font-weight: 600;
                padding: 1rem;
                border-bottom: 1px solid rgb(235, 233, 233);
                span {
                    padding: .1rem;
                    font-size: .8rem;
                    :first-child {
                        color: rgb(13, 212, 29);
                    }
                    :last-child {
                        color: rgb(228, 18, 18);
                    }
                }
            }
            table {
                border-collapse: collapse;
                width: 100%;
                padding: .5rem;
                :last-child {
                    border: none;
                }
                th {
                    color: rgb(109, 101, 101);
                    text-align: left;
                    font-weight: 500;
                    font-size: 1.1rem;
                    padding: 1rem;
                    border-bottom: 1px solid rgb(235, 233, 233);
                }
                td {
                    padding: 1rem;
                }
                tr {
                    border-bottom: 1px solid rgb(235, 233, 233);
                    .date {
                        background-color: rgb(131, 42, 233);
                        color: rgb(255, 255, 255);
                        padding: .8rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: .2rem;
                        width: fit-content;
                        height: fit-content;
                        border-radius: 50%;
                        margin-right: -2rem;
                        :first-child {
                            font-size: .9rem;
                        }
                        :last-child {
                            font-size: 1rem;
                        }
                    }
                    .narration {
                        display: flex;
                        gap: .7rem;
                        .info {
                            display: flex;
                            flex-direction: column;
                            gap: .5rem;
                            :first-child {
                                color: rgb(0, 0, 0);
                                font-size: 1rem;
                                font-weight: 600;
                            }
                            :last-child {
                                color: rgb(122, 117, 117);
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }
        .transactions-history {
            background-color: rgb(255, 255, 255);
            padding: .5rem;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            .title {
                color: rgb(37, 36, 36);
                font-size: 1rem;
                font-weight: 600;
                padding: 1rem;
                border-bottom: 1px solid rgb(235, 233, 233);
                span {
                    padding: .1rem;
                    font-size: .8rem;
                    :first-child {
                        color: rgb(13, 212, 29);
                    }
                    :last-child {
                        color: rgb(228, 18, 18);
                    }
                }
            }
            div {
                display: flex;
                flex-direction: column;
                gap: .7rem;
                padding: 1rem;
                border-bottom: 1px solid rgb(235, 233, 233);
                :first-child {
                    font-weight: 500;
                    font-size: 1.1rem;
                    span {
                        color: red;
                    }
                }
                :last-child {
                    font-size: 1.3rem;
                }
                #in {
                    color: rgb(13, 212, 29);
                }
                #out {
                    color: rgb(228, 18, 18);
                }
            }
        }
    }
}

.head-title {
    margin: .7rem;
    h1 {
        color: rgb(109, 101, 101);
        font-size: 1.2rem;
    }
}

